-e git+https://github.com/anthonyjgatti/atools.git@57308817447be8ec85e2f17ba7498d327eb547f8#egg=atools
certifi==2017.11.5
chardet==3.0.4
docker==2.6.1
docker-pycreds==0.2.1
idna==2.6
requests==2.18.4
six==1.11.0
urllib3==1.24.2
websocket-client==0.44.0
